/*
Theme Name: Layla
Version:    1.0
Author:     ThemeWagon


TABLE OF CONTENTS

    01 - Video
    02 - Global
    03 - Navbar
    04 - Main Content Section
    05-  Preloader
    06 - About
    07 - Contact us Section
    08 - Footer Section
    09 - Responsive Fixes


*/
/* /////////////////////////////////////////////////////////////////////
//  01 - Video
/////////////////////////////////////////////////////////////////////*/
#video-bg {
  overflow: hidden;
  position: absolute;
  width: 100%;
  z-index: -50;
  bottom: 0;
  right: 0;
  top: 0;
  left: 0;
}

#video-background {
  position: fixed;
  bottom: 0;
  right: 0;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -100;
  width: auto;
  height: auto;
}

.overlay {
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  top: 0;
  left: 0;
  right: 0;
  width: auto;
  height: auto;
  background: url(../assets/overlay.png);
}

/* /////////////////////////////////////////////////////////////////////
//  02 - Global
/////////////////////////////////////////////////////////////////////*/
body {
  overflow-x: hidden;
  font-family: 'Josefin Sans', sans-serif;
}

#main {
  position: relative;
}

#main #main-content {
  position: relative;
}

a {
  color: #9c27b0;
}

a:hover,
a:focus,
a:active {
  color: #e9e9e9;
  text-decoration: none;
  outline: none;
  -moz-transition: 0.4s ease all;
  -webkit-transition: 0.4s ease all;
  -o-transition: 0.4s ease all;
  transition: 0.4s ease all;
}

p {
  font-size: 1.8em;
}

.title {
  margin: 0px 0 5em;
  position: relative;
  width: 100%;
  color: #fff;
}

/*Preloader*/
.js div#preloader {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 99999;
  width: 100%;
  height: 100%;
  overflow: visible;
  background: #fff url("../assets/block.gif") no-repeat center center;
}

.videoBG_wrapper {
  background: url("../assets/ezgif.com-optimize.gif") no-repeat;
  background-size: cover;
}

/* /////////////////////////////////////////////////////////////////////
//  03 - Main Content Section
/////////////////////////////////////////////////////////////////////*/
.logo {
  background: transparent;
  position: absolute;
  z-index: 899;
  width: 100%;
  top: 8%;
  left: 15px;
  padding-top: 20px;
}

.center-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-top: 240px;
  z-index: 99999;
}

.headline-wrap {
  padding-top: 15px;
}

/*Cock*/
.clock {
  position: relative;
  max-width: 480px;
  margin: 0 auto;
}

.clock-item {
  padding-bottom: 40px;
}

.countdown-container {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  transform: translateY(-50%);
}

.clock-item .inner {
  height: 0px;
  padding-bottom: 100%;
  position: relative;
  width: 100%;
}

.clock-canvas {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  height: 0px;
  padding-bottom: 100%;
}

.text {
  color: #fff;
  font-size: 36px;
  font-weight: 300;
  margin-top: -50px;
  position: absolute;
  top: 50%;
  text-align: center;
  text-shadow: 1px 1px 1px black;
  width: 100%;
}

.text .val {
  font-size: 2em;
  line-height: 1em;
}

.text .type-time {
  font-size: 16px;
}

/*Heading text*/
.quotes {
  font-size: 3em;
  font-weight: 300;
  line-height: 1.4em;
  display: none;
}

.headline {
  font-size: 2.3em;
  text-transform: uppercase;
  font-weight: 600;
  padding-top: 0%;
  padding-bottom: 0.5em;
  color: #fff;
}

/*my style*/
.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.all {
  background-color: orangered;
  color: white;
  font-size: 15px;
  padding: 7px;
  float: left;
  display: inline-block;
  height: 35px;
  text-align: center;
  margin-left: 50%;
  margin-top: 5%;
}

#subscribe-form {
  max-width: 500px;
  margin-bottom: 50px !important;
}

.subscribe_text {
  font-size: 1.8em;
  line-height: 1.2em;
  padding: 1em 0 0 0;
}

.mc-email {
  border-radius: 0px;
  background: transparent;
  border: 1px solid #fff;
  font-size: 1.5em;
  height: auto;
  outline: none;
  transition: 0.4s ease border;
}

.mc-email:active,
.mc-email:focus {
  box-shadow: none;
  border-color: #9c27b0;
}

.mc-btn {
  border-radius: 0px;
  font-size: 1.5em;
  padding: 0.29em 0.8em;
  background: transparent;
  color: #fff;
  transition: 0.4s ease-in;
}

.mc-btn:hover {
  background: #9c27b0;
  color: #fff;
  border-color: #9c27b0;
}

.push-btn-left {
  margin-left: -30px;
}

.arrow-down {
  position: absolute;
  width: 100%;
  bottom: 2%;
  z-index: 899;
}

.arrow-down a {
  font-size: 2em;
  color: #fff;
  cursor: pointer;
}

.arrow-down a:hover {
  color: #9c27b0;
}

/* /////////////////////////////////////////////////////////////////////
//  04 - Preloader
/////////////////////////////////////////////////////////////////////*/
#preloader {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 99999999999;
  width: 100%;
  height: 100%;
  overflow: visible;
  background: #fff url("../img/preloader.gif") no-repeat center center;
}

/* /////////////////////////////////////////////////////////////////////
//  06 - About
/////////////////////////////////////////////////////////////////////*/
.portrait {
  margin: 0 auto;
}

/* /////////////////////////////////////////////////////////////////////
//  7 - Contact us Section
/////////////////////////////////////////////////////////////////////*/
.afsana-style,
.afsana-form textarea {
  background: transparent;
  border-radius: 0px;
  border-top: 0px;
  border-left: 0px;
  border-bottom: 2px solid #fff;
  border-right: 2px solid #fff;
  color: #fff;
  height: auto;
  padding: 0.5em;
  font-size: 1.3em;
}

.afsana-style:hover,
.afsana-form textarea:hover,
.afsana-style:active,
.afsana-form textarea:active,
.afsana-style:focus,
.afsana-form textarea:focus {
  outline: none;
  box-shadow: none;
  border-color: #9c27b0 !important;
}

.afsana-btn {
  font-size: 1.5em;
  padding: 0.6em 0;
  width: 100%;
  border-radius: 0;
  background: #9c27b0;
  border-color: #9c27b0;
  margin-top: -15px;
}

.afsana-btn:hover {
  background: transparent;
  border-bottom: 2px solid #fff;
  border-left: 2px solid #fff;
  border-right: 2px solid #fff;
}

.social-icons ul {
  padding: 0;
  margin: 6px 0 0;
  text-align: center;
}

.social-icons ul li {
  display: inline-block;
  list-style: none;
  height: 50px;
  width: 50px;
  margin: 0px 5px;
  text-align: center;
  border: 2px solid;
  border-radius: 50%;
  transition: 0.4s ease;
}

.social-icons ul li a {
  font-size: 2em;
  line-height: 0em;
  display: inline-block;
  padding: 11px 0px;
  color: #fff;
}

.social-icons ul li:hover {
  background: transparent;
}

/* /////////////////////////////////////////////////////////////////////
//  9 - Responsive Fixes
/////////////////////////////////////////////////////////////////////*/
@media (max-width: 768px) {
  .headline {
    font-size: 1em;
  }
}

/*1368px - */
@media (min-width: 1368px) {
  .logo {
    padding: 30px 0px;
    top: 2%;
  }
}

/*1300px - 992px*/
@media all and (max-width: 1300px) and (min-width: 992px) {
  .headline {
    font-size: 2em;
  }
  .text .type-time {
    font-size: 0.4em;
  }
}

/*1170px*/
@media all and (max-width: 1368px) {
  .clock {
    padding: 0em 2em;
  }
  .content {
    margin-top: 20px;
  }
}

/*992px*/
@media all and (max-width: 992px) {
  #video-bg,
  #main-content {
    min-height: 792px;
  }
  .center-container {
    padding-top: 165px;
    transform: translate(-50%, -47%);
    -webkit-transform: translate(-50%, -47%);
    -moz-transform: translate(-50%, -47%);
    -ms-transform: translate(-50%, -47%);
    -o-transform: translate(-50%, -47%);
  }
  .headline-wrap {
    padding-top: 15px;
    text-align: center;
  }
  .headline {
    font-size: 1.1em;
    padding-top: 0px;
  }
  .clock {
    max-width: 100%;
  }
  .clock-item {
    margin-bottom: 30px;
  }
  .text .val {
    font-size: 1.2em;
    padding-bottom: 0px;
    margin-bottom: 0px;
  }
  .text .type-time {
    font-size: 16px;
  }
  #subscribe-form {
    margin: 0 auto;
    margin-bottom: 19px !important;
  }
  .social-icons ul li {
    margin: 0px 2px;
  }
  #footer .copyright {
    font-size: 1.2em;
  }
}

/*768px*/
@media all and (max-width: 768px) {
  .clock-item {
    margin: 0px;
    padding-bottom: 20px;
  }
  #mobile-nav {
    margin-top: -72px;
    position: relative;
    z-index: 9999;
  }
  .headline {
    font-size: 1em;
    margin-bottom: 20px;
  }
  .text .val {
    font-size: 80%;
  }
  #subscribe-form {
    margin: 0 auto;
    margin-bottom: 10px !important;
    padding-left: 4px;
    padding-right: 4px;
  }
  .text .type-time {
    font-size: 30%;
    padding-left: 0px;
  }
  .clock {
    margin: 10px auto 0;
  }
  .clock-item .text {
    margin-top: -40px;
  }
  .about-text {
    padding: 0px 30px;
    text-align: center;
  }
  .portrait {
    margin: 0 auto;
  }
  .center-container {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 70px;
  }
  .text {
    left: 50%;
    width: 100%;
    transform: translate(-50%, 30%);
    -webkit-transform: translate(-50%, 30%);
    -ms-transform: translate(-50%, 30%);
    -o-transform: translate(-50%, 30%);
  }
  #contact-form {
    margin-bottom: 40px;
  }
  .form-group.col-xs-2.push-btn-left {
    padding-right: 6px;
  }
  .push-btn-left {
    margin-left: -35px;
  }
}

@media all and (min-width: 768px) {
  .about-text {
    margin-top: 25px;
  }
}

/*480px*/
@media all and (max-width: 480px) {
  .center-container {
    padding-top: 80px;
  }
  .headline {
    font-size: 1em;
    margin-bottom: 20px;
  }
  .clock {
    padding: 0em;
  }
  .text .val {
    font-size: 50%;
  }
  .text .type-time {
    font-size: 20%;
    padding-left: 0px;
  }
  .text {
    -webkit-transform: translate(-50%, 74%);
    -ms-transform: translate(-50%, 74%);
    -o-transform: translate(-50%, 74%);
    transform: translate(-50%, 74%);
  }
  .social-icons ul li a {
    font-size: 1.4em;
    line-height: 0em;
    display: inline-block;
    padding: 8px 0px;
    color: #fff;
  }
  .social-icons ul li {
    height: 40px;
    width: 40px;
  }
  #footer .copyright {
    text-align: center;
  }
}

@media all and (max-width: 320px) {
  .center-container {
    padding-top: 130px;
    transform: translate(-50%, -50%);
  }
  .headline {
    font-size: 0.9em;
    margin-bottom: 30px;
  }
  .clock {
    padding: 0em;
  }
  .text .val {
    font-size: 55%;
  }
  .text .type-time {
    font-size: 22%;
    padding-left: 0px;
  }
  .text {
    transform: translate(-50%, 60%);
  }
  .social-icons ul li a {
    font-size: 1.2em;
    line-height: 0em;
    display: inline-block;
    padding: 6px 0px;
    color: #fff;
  }
  .social-icons ul li {
    height: 30px;
    width: 30px;
  }
  #footer .copyright {
    text-align: center;
  }
  .col-xs-3 {
    padding: 0px 5px;
  }
  .clock.row {
    margin: 0px;
  }
  .arrow-down {
    position: absolute;
    width: 100%;
    bottom: -1%;
    z-index: 899;
  }
  .title.line {
    top: 25%;
  }
  .logo img {
    max-width: 260px;
  }
}

a:hover {
  color: #29b39f !important;
  text-decoration: none !important;
}

.read-more-button:hover {
  color: #49515B !important;
  text-decoration: none !important;
}

.section-title {
  background: #29b39f;
  display: inline-block;
  line-height: 30px;
  padding: 17px 17px 12px 17px;
  font-size: 30px;
  position: relative;
  z-index: 600;
  margin: 0;
}

.section-line {
  display: block;
  width: 100%;
  position: absolute;
  height: 5px;
  background: transparent;
  border-top: 1px dashed #29b39f;
  border-bottom: 1px dashed #29b39f;
  top: 50%;
  z-index: 200;
  vertical-align: middle;
}

.homepage-hero-module {
  border-right: none;
  border-left: none;
  position: relative;
}

.no-video .video-container video,
.touch .video-container video {
  display: none;
}

.no-video .video-container .poster,
.touch .video-container .poster {
  display: block !important;
}

.video-container {
  position: relative;
  bottom: 0%;
  left: 0%;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background: #000;
}

.video-container .poster img {
  width: 100%;
  bottom: 0;
  position: absolute;
}

.video-container .filter {
  z-index: 100;
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
  width: 100%;
}

.video-container video {
  position: absolute;
  z-index: 0;
  bottom: 0;
}

.video-container video.fillWidth {
  width: 100%;
}

.landing-page-section {
  background: black;
  background: url(../assets/old-bg.gif);
  background-size: cover;
  background-position: center;
}

.landing-page-section .landing-overlay {
  background: rgba(41, 179, 159, 0.63);
  height: 100%;
}

.landing-content-wrapper {
  align-items: center;
  margin-top: 150px;
}

.landing-down-arrow-svg {
  width: 40px;
  height: 40px;
}

.landing-down-arrow-svg path {
  fill: white;
}

#blogs {
  color: #fff;
  background-size: cover;
  padding: 80px 0px 80px;
}

.blog-wrapper {
  margin-top: 15px;
}

.blog-wrapper .blog-thumbnail {
  transition: 0.5s all;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.28);
}

.blog-wrapper .blog-thumbnail .image-wrapper {
  overflow: hidden;
}

.blog-wrapper .blog-thumbnail .image-wrapper img {
  transition: 1s all;
  width: 100%;
}

.blog-wrapper .blog-thumbnail:hover {
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.28);
}

.blog-wrapper .blog-thumbnail:hover .image-wrapper img {
  transform: scale(1.1);
}

.blog-wrapper .blog-thumbnail:hover .text-wrapper .text-blog {
  color: #29b39f;
}

.blog-wrapper .blog-thumbnail .text-wrapper {
  padding-bottom: 33px;
  background-color: white;
  border-bottom: 2px solid #29b39f;
}

.blog-wrapper .blog-thumbnail .text-wrapper .text-blog {
  cursor: pointer;
  padding: 8px;
  font-size: 25px;
  color: black;
  line-height: 1.3em;
  text-align: left;
  font-size: 1.6em;
}

.blog-wrapper .blog-thumbnail .text-wrapper .read-more-button {
  margin-right: 20px;
  background-color: #29b39f;
  color: white;
  font-size: 15px;
  padding: 7px;
  float: right;
  display: inline-block;
  height: 35px;
}

.video-thumbnail .image-wrapper:before {
  content: "";
  top: 22%;
  left: 45%;
  position: absolute;
  background-image: url(/assets/play-icon.png);
  background-size: contain;
  height: 50px;
  width: 50px;
}

.social-timeline-div {
  border-right: 2px solid #ccc;
  border-top: 2px solid #ccc;
}

.facebook-timeline-div span:first-child {
  width: 520px;
}

.facebook-timeline-div span iframe {
  width: 100%;
}

.footer img {
  display: block;
  margin: 0 auto;
}

.copyright-footer p {
  padding-top: 15px;
  text-align: center;
  font-size: .9em;
  color: #fff;
}

.copyright-footer {
  background-color: #49515B;
  height: 30px;
}

.copyright-footer .copyright-heart {
  color: #29b39f;
  font-size: 22px;
  padding: 2px;
}

.social-media-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  margin: 0 auto;
}

.social-media-footer .fb-wrapper {
  padding: 7px;
  display: inline-block;
  cursor: pointer;
}

.social-media-footer .fb-wrapper .insta-icon path {
  fill: white !important;
}

.social-media-footer .fb-wrapper svg {
  transition: 0.4s all;
  height: 30px;
  width: 30px;
}

.social-media-footer .fb-wrapper svg path {
  fill: #49515B !important;
}

.social-media-footer .fb-wrapper svg circle {
  fill: white;
}

.social-media-footer .fb-wrapper:hover svg {
  transform: rotateZ(-35deg) scale(1.1);
}

.footer-links {
  padding-top: 18px;
  text-align: center;
  background-color: #49515B;
  border: none;
  height: 60px;
  display: flex;
  align-items: center;
}

.navbar-bg {
  background-color: #49515B;
}

.navbar-go-back {
  color: white;
}

#mainNav .navbar-brand {
  font-weight: 700;
  text-transform: uppercase;
  color: #29b39f;
}

#mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
  color: #29b39f;
}

#mainNav .navbar-nav > li.nav-item > a.nav-link,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus {
  font-size: .9rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #A4A4A4;
}

#mainNav .navbar-nav > li.nav-item > a.nav-link:hover,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus:hover {
  color: #29b39f;
}

#mainNav .navbar-nav > li.nav-item > a.nav-link.active,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus.active {
  color: #29b39f !important;
  background-color: black;
}

#mainNav .navbar-nav > li.nav-item > a.nav-link.active:hover,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus.active:hover {
  background-color: green;
}

@media (min-width: 992px) {
  #mainNav .navbar-brand {
    color: rgba(255, 255, 255, 0.7);
  }
  #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
    color: #fff;
  }
  #mainNav .navbar-nav > li.nav-item > a.nav-link {
    padding: 0.5rem 1rem;
  }
  #mainNav .navbar-nav > li.nav-item > a.nav-link,
  #mainNav .navbar-nav > li.nav-item > a.nav-link:focus {
    color: rgba(255, 255, 255, 0.7);
  }
  #mainNav .navbar-nav > li.nav-item > a.nav-link:hover,
  #mainNav .navbar-nav > li.nav-item > a.nav-link:focus:hover {
    color: #fff;
  }
  #mainNav.navbar-shrink {
    border-bottom: 1px solid rgba(164, 164, 164, 0.1);
    background-color: yellow;
  }
  #mainNav.navbar-shrink .navbar-brand {
    color: #29b39f;
  }
  #mainNav.navbar-shrink .navbar-brand:focus, #mainNav.navbar-shrink .navbar-brand:hover {
    color: #29b39f;
  }
  #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link,
  #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:focus {
    color: #A4A4A4;
  }
  #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:hover,
  #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:focus:hover {
    color: #29b39f;
  }
}

.content-area {
  background-color: white;
}

.blogpost-main-image {
  position: relative;
}

.blogpost-main-image .blog-info-wrapper {
  position: absolute;
  bottom: 0;
  background: rgba(0, 0, 0, 0.341176);
  color: white;
  padding: 10px;
  width: 100%;
}

.blogpost-main-image .blog-info-wrapper .blog-title {
  font-size: 1em;
}

@media (min-width: 800px) {
  .blogpost-main-image .blog-info-wrapper .blog-title {
    font-size: 1.6em;
  }
}

.blogpost-main-image .blog-info-wrapper .post-details {
  display: flex;
  align-items: center;
}

.blogpost-main-image .blog-info-wrapper .post-details .inner-detail-wrapper {
  padding-right: 20px;
  display: flex;
  align-items: center;
}

.blogpost-main-image .blog-info-wrapper .post-details .inner-detail-wrapper svg {
  height: 15px;
  width: 15px;
  display: inline-block;
}

.blogpost-main-image .blog-info-wrapper .post-details .inner-detail-wrapper svg path {
  fill: white;
}

.blogpost-main-image .blog-info-wrapper .post-details .inner-detail-wrapper .info-icon-title {
  display: inline-block;
  margin: 0;
  padding-left: 6px;
  font-size: 0.7em;
  font-weight: 100;
  font-family: "Roboto", sans-serif;
}

@media (max-width: 867px) {
  .recent-posts-wrapper {
    display: none;
  }
}

.content-text {
  width: 90%;
  margin: auto;
  padding: 20px;
}

.content-text p {
  font-size: 20px;
  line-height: 1.7;
  color: #545252;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
}

.content-text p:first-child:first-letter {
  font-size: 4.2em;
  line-height: 0.8em;
  color: #29b39f;
  padding-right: 4px;
  float: left;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  font-style: normal !important;
}

.content-text strong, .content-text b {
  font-weight: 600;
}

.content-text img {
  padding: 20px !important;
}

.blog-social-media-mobile-wrapper {
  display: none;
}

.blog-social-media-wrapper {
  width: 180px;
  text-align: center;
  padding-top: 15px;
}

.blog-social-media-wrapper .blog-solial-media-icons {
  position: sticky;
  top: 20px;
  padding-bottom: 20px;
}

.blog-social-media-wrapper .blog-solial-media-icons .social-icon {
  display: block;
  padding: 8px;
}

.blog-social-media-wrapper .blog-solial-media-icons .social-icon:hover svg {
  width: 55px;
  height: 55px;
}

.blog-social-media-wrapper .blog-solial-media-icons .social-icon svg {
  transition: 0.3s all;
  width: 30px;
  height: 30px;
}

.sidebar {
  margin-bottom: 10%;
  margin-right: 10%;
  margin-top: 20%;
}

.sidebar p {
  font-size: .9em;
}

.blogpost-main-image img {
  width: 100%;
  object-fit: contain;
}

.column1 svg {
  height: 15px;
  width: 15px;
}

.all-icons p {
  font-size: 0.8em;
}

.sidebar h3 {
  color: #E9563D;
  margin-top: 20px;
  margin-bottom: 20px;
}

.sidebar-blocks {
  margin-top: 60px;
}

.sidebar-blocks h3 {
  margin-bottom: 15px;
}

.sidebar-search-block a {
  text-decoration: !important none;
  color: #fff !important;
  margin: 0 !important;
}

.sidebar a {
  text-decoration: none;
  color: #888888;
  display: block;
  margin-top: 10px;
}

.all-icons:hover {
  background-color: #f2f0f0;
}

.social-media-icons a {
  text-decoration: none;
}

.post-details p {
  font-weight: bold;
  font-size: .9em;
}

.footer img {
  display: block;
  margin: 0 auto;
}

.copyright-footer p {
  padding-top: 15px;
  text-align: center;
  font-size: .9em;
  color: #fff;
}

.copyright-footer {
  background-color: #49515B;
  height: 50px;
}

.article-social-icons-wrapper {
  position: sticky;
  top: 10px;
  padding-bottom: 20px;
}

.article-social-icons-wrapper svg {
  height: 30px;
  width: 30px;
  margin-top: 10px;
}

@media (max-width: 991px) {
  .sidebar {
    margin: 0;
  }
  .blog-social-media-wrapper {
    display: none;
  }
  .blog-social-media-mobile-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: 10px;
  }
  .blog-social-media-mobile-wrapper .blog-solial-media-icons .social-icon {
    height: 100px;
    width: 100px;
  }
  .blog-social-media-mobile-wrapper .blog-solial-media-icons .social-icon svg {
    height: 30px;
    width: 30px;
    margin: 5px;
  }
}
