a {
    &:hover {
        color: $primary !important;
        text-decoration: none !important;
    }
}
.read-more-button{
    &:hover {
        color: $icon !important;
        text-decoration: none !important;
    }
}
.section-title {
    background: $primary;
    display: inline-block;
    line-height: 30px;
    padding: 17px 17px 12px 17px;
    font-size: 30px;
    position: relative;
    z-index: 600;
    margin: 0;
}

.section-line {
    display: block;
    width: 100%;
    position: absolute;
    height: 5px;
    background: transparent;
    border-top: 1px dashed $primary;
    border-bottom: 1px dashed $primary;
    top: 50%;
    z-index: 200;
    vertical-align: middle;
}
