// Variables

$primary: #29b39f !default;
$secondary: #7cd2cd !default;
$font-family: 'Josefin Sans', sans-serif;
$icon: #49515B !default;
$white:#fff;
$gray-900:#A4A4A4;
$red-text: #E9563D;



$text-color: #545252;
$main-font: 'Roboto', sans-serif;
$funky-font: 'Josefin Sans', sans-serif;