/* line 1, /Applications/XAMPP/xamppfiles/htdocs/argowebsite/scss/layouts/_hero-section.scss */
.homepage-hero-module {
  border-right: none;
  border-left: none;
  position: relative; }

/* line 7, /Applications/XAMPP/xamppfiles/htdocs/argowebsite/scss/layouts/_hero-section.scss */
.no-video .video-container video,
.touch .video-container video {
  display: none; }

/* line 12, /Applications/XAMPP/xamppfiles/htdocs/argowebsite/scss/layouts/_hero-section.scss */
.no-video .video-container .poster,
.touch .video-container .poster {
  display: block !important; }

/* line 17, /Applications/XAMPP/xamppfiles/htdocs/argowebsite/scss/layouts/_hero-section.scss */
.video-container {
  position: relative;
  bottom: 0%;
  left: 0%;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background: #000; }

/* line 27, /Applications/XAMPP/xamppfiles/htdocs/argowebsite/scss/layouts/_hero-section.scss */
.video-container .poster img {
  width: 100%;
  bottom: 0;
  position: absolute; }

/* line 33, /Applications/XAMPP/xamppfiles/htdocs/argowebsite/scss/layouts/_hero-section.scss */
.video-container .filter {
  z-index: 100;
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
  width: 100%; }

/* line 40, /Applications/XAMPP/xamppfiles/htdocs/argowebsite/scss/layouts/_hero-section.scss */
.video-container video {
  position: absolute;
  z-index: 0;
  bottom: 0; }

/* line 46, /Applications/XAMPP/xamppfiles/htdocs/argowebsite/scss/layouts/_hero-section.scss */
.video-container video.fillWidth {
  width: 100%; }

/* line 1, /Applications/XAMPP/xamppfiles/htdocs/argowebsite/scss/layouts/_blogs.scss */
#blogs {
  color: #fff;
  background-size: cover;
  padding: 80px 0px 80px; }

/* line 6, /Applications/XAMPP/xamppfiles/htdocs/argowebsite/scss/layouts/_blogs.scss */
.title h1 {
  background: #9c27b0;
  display: inline-block;
  padding: 1em;
  border-left: 6px double #9c27b0;
  border-right: 6px double #9c27b0;
  position: relative;
  z-index: 600;
  line-height: 0;
  margin: 0; }

/* line 17, /Applications/XAMPP/xamppfiles/htdocs/argowebsite/scss/layouts/_blogs.scss */
.title.line {
  display: block;
  width: 100%;
  height: 5px;
  background: transparent;
  border-top: 1px dashed #9c27b0;
  border-bottom: 1px dashed #9c27b0;
  top: 50%;
  z-index: 200;
  vertical-align: middle; }

/* line 30, /Applications/XAMPP/xamppfiles/htdocs/argowebsite/scss/layouts/_blogs.scss */
.portrait {
  width: 100%;
  margin-bottom: 0px;
  border: none; }

/* line 36, /Applications/XAMPP/xamppfiles/htdocs/argowebsite/scss/layouts/_blogs.scss */
.text-blog {
  text-transform: initial;
  padding-top: 8px;
  padding-left: 7px;
  padding-right: 7px;
  font-size: 25px;
  color: black; }

/* line 45, /Applications/XAMPP/xamppfiles/htdocs/argowebsite/scss/layouts/_blogs.scss */
.text-image-wrapper {
  box-shadow: 5px 5px 8px 9px rgba(216, 216, 210, 0.16); }

/* line 49, /Applications/XAMPP/xamppfiles/htdocs/argowebsite/scss/layouts/_blogs.scss */
.image-wrapper:before {
  content: "";
  top: 22%;
  left: 45%;
  position: absolute;
  background-image: url(/assets/play-icon.png);
  background-size: contain;
  height: 50px;
  width: 50px; }

/* line 59, /Applications/XAMPP/xamppfiles/htdocs/argowebsite/scss/layouts/_blogs.scss */
.text-wrapper {
  padding-bottom: 33px;
  background-color: white;
  border-bottom: 2px solid orangered; }

/* line 2, /Applications/XAMPP/xamppfiles/htdocs/argowebsite/scss/layouts/_footer.scss */
.footer img {
  display: block;
  margin: 0 auto; }

/* line 7, /Applications/XAMPP/xamppfiles/htdocs/argowebsite/scss/layouts/_footer.scss */
.copyright-footer p {
  padding-top: 15px;
  text-align: center;
  font-size: .9em;
  color: #fff; }

/* line 14, /Applications/XAMPP/xamppfiles/htdocs/argowebsite/scss/layouts/_footer.scss */
.copyright-footer {
  background-color: #49515B;
  height: 50px; }

/* line 19, /Applications/XAMPP/xamppfiles/htdocs/argowebsite/scss/layouts/_footer.scss */
.social-media-footer {
  display: inline-block;
  height: 50px;
  align-items: center;
  margin: 0 auto; }
  /* line 24, /Applications/XAMPP/xamppfiles/htdocs/argowebsite/scss/layouts/_footer.scss */
  .social-media-footer .fb-wrapper {
    display: inline-block; }
    /* line 28, /Applications/XAMPP/xamppfiles/htdocs/argowebsite/scss/layouts/_footer.scss */
    .social-media-footer .fb-wrapper .insta-icon path {
      fill: white !important; }
    /* line 32, /Applications/XAMPP/xamppfiles/htdocs/argowebsite/scss/layouts/_footer.scss */
    .social-media-footer .fb-wrapper svg {
      height: 30px;
      width: 30px;
      margin-right: 30px; }
      /* line 36, /Applications/XAMPP/xamppfiles/htdocs/argowebsite/scss/layouts/_footer.scss */
      .social-media-footer .fb-wrapper svg path {
        fill: #49515B !important; }
      /* line 39, /Applications/XAMPP/xamppfiles/htdocs/argowebsite/scss/layouts/_footer.scss */
      .social-media-footer .fb-wrapper svg circle {
        fill: white; }

/* line 46, /Applications/XAMPP/xamppfiles/htdocs/argowebsite/scss/layouts/_footer.scss */
.footer-links {
  text-align: center;
  background-color: #49515B;
  border: none;
  height: 50px; }

/* line 4, /Applications/XAMPP/xamppfiles/htdocs/argowebsite/scss/layouts/_navbar.scss */
.navbar-bg {
  background-color: #49515B; }

/* line 8, /Applications/XAMPP/xamppfiles/htdocs/argowebsite/scss/layouts/_navbar.scss */
.navbar-go-back {
  color: white; }

/* line 13, /Applications/XAMPP/xamppfiles/htdocs/argowebsite/scss/layouts/_navbar.scss */
#mainNav .navbar-brand {
  font-weight: 700;
  text-transform: uppercase;
  color: #7cd2cd; }
  /* line 18, /Applications/XAMPP/xamppfiles/htdocs/argowebsite/scss/layouts/_navbar.scss */
  #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
    color: #7cd2cd; }

/* line 25, /Applications/XAMPP/xamppfiles/htdocs/argowebsite/scss/layouts/_navbar.scss */
#mainNav .navbar-nav > li.nav-item > a.nav-link,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus {
  font-size: .9rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #A4A4A4; }
  /* line 31, /Applications/XAMPP/xamppfiles/htdocs/argowebsite/scss/layouts/_navbar.scss */
  #mainNav .navbar-nav > li.nav-item > a.nav-link:hover,
  #mainNav .navbar-nav > li.nav-item > a.nav-link:focus:hover {
    color: #7cd2cd; }
  /* line 34, /Applications/XAMPP/xamppfiles/htdocs/argowebsite/scss/layouts/_navbar.scss */
  #mainNav .navbar-nav > li.nav-item > a.nav-link.active,
  #mainNav .navbar-nav > li.nav-item > a.nav-link:focus.active {
    color: #7cd2cd !important;
    background-color: black; }
    /* line 37, /Applications/XAMPP/xamppfiles/htdocs/argowebsite/scss/layouts/_navbar.scss */
    #mainNav .navbar-nav > li.nav-item > a.nav-link.active:hover,
    #mainNav .navbar-nav > li.nav-item > a.nav-link:focus.active:hover {
      background-color: green; }

@media (min-width: 992px) {
  /* line 48, /Applications/XAMPP/xamppfiles/htdocs/argowebsite/scss/layouts/_navbar.scss */
  #mainNav .navbar-brand {
    color: rgba(255, 255, 255, 0.7); }
    /* line 50, /Applications/XAMPP/xamppfiles/htdocs/argowebsite/scss/layouts/_navbar.scss */
    #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
      color: #fff; }
  /* line 55, /Applications/XAMPP/xamppfiles/htdocs/argowebsite/scss/layouts/_navbar.scss */
  #mainNav .navbar-nav > li.nav-item > a.nav-link {
    padding: 0.5rem 1rem; }
  /* line 58, /Applications/XAMPP/xamppfiles/htdocs/argowebsite/scss/layouts/_navbar.scss */
  #mainNav .navbar-nav > li.nav-item > a.nav-link,
  #mainNav .navbar-nav > li.nav-item > a.nav-link:focus {
    color: rgba(255, 255, 255, 0.7); }
    /* line 61, /Applications/XAMPP/xamppfiles/htdocs/argowebsite/scss/layouts/_navbar.scss */
    #mainNav .navbar-nav > li.nav-item > a.nav-link:hover,
    #mainNav .navbar-nav > li.nav-item > a.nav-link:focus:hover {
      color: #fff; }
  /* line 65, /Applications/XAMPP/xamppfiles/htdocs/argowebsite/scss/layouts/_navbar.scss */
  #mainNav.navbar-shrink {
    border-bottom: 1px solid rgba(164, 164, 164, 0.1);
    background-color: yellow; }
    /* line 68, /Applications/XAMPP/xamppfiles/htdocs/argowebsite/scss/layouts/_navbar.scss */
    #mainNav.navbar-shrink .navbar-brand {
      color: #7cd2cd; }
      /* line 70, /Applications/XAMPP/xamppfiles/htdocs/argowebsite/scss/layouts/_navbar.scss */
      #mainNav.navbar-shrink .navbar-brand:focus, #mainNav.navbar-shrink .navbar-brand:hover {
        color: #7cd2cd; }
    /* line 75, /Applications/XAMPP/xamppfiles/htdocs/argowebsite/scss/layouts/_navbar.scss */
    #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link,
    #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:focus {
      color: #A4A4A4; }
      /* line 78, /Applications/XAMPP/xamppfiles/htdocs/argowebsite/scss/layouts/_navbar.scss */
      #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:hover,
      #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:focus:hover {
        color: #7cd2cd; } }

/* line 1, /Applications/XAMPP/xamppfiles/htdocs/argowebsite/scss/layouts/_blogPage.scss */
.content-area {
  background-color: white; }

/* line 4, /Applications/XAMPP/xamppfiles/htdocs/argowebsite/scss/layouts/_blogPage.scss */
.blogpost-main-image {
  position: relative; }
  /* line 6, /Applications/XAMPP/xamppfiles/htdocs/argowebsite/scss/layouts/_blogPage.scss */
  .blogpost-main-image .blog-info-wrapper {
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, 0.341176);
    color: white;
    padding: 10px;
    width: 100%; }
    /* line 13, /Applications/XAMPP/xamppfiles/htdocs/argowebsite/scss/layouts/_blogPage.scss */
    .blogpost-main-image .blog-info-wrapper .blog-title {
      font-size: 1em; }
    /* line 16, /Applications/XAMPP/xamppfiles/htdocs/argowebsite/scss/layouts/_blogPage.scss */
    .blogpost-main-image .blog-info-wrapper .post-details {
      display: flex;
      align-items: center; }
      /* line 19, /Applications/XAMPP/xamppfiles/htdocs/argowebsite/scss/layouts/_blogPage.scss */
      .blogpost-main-image .blog-info-wrapper .post-details .inner-detail-wrapper {
        padding-right: 20px;
        display: flex;
        align-items: center; }
        /* line 23, /Applications/XAMPP/xamppfiles/htdocs/argowebsite/scss/layouts/_blogPage.scss */
        .blogpost-main-image .blog-info-wrapper .post-details .inner-detail-wrapper svg {
          height: 15px;
          width: 15px;
          display: inline-block; }
          /* line 27, /Applications/XAMPP/xamppfiles/htdocs/argowebsite/scss/layouts/_blogPage.scss */
          .blogpost-main-image .blog-info-wrapper .post-details .inner-detail-wrapper svg path {
            fill: white; }
        /* line 31, /Applications/XAMPP/xamppfiles/htdocs/argowebsite/scss/layouts/_blogPage.scss */
        .blogpost-main-image .blog-info-wrapper .post-details .inner-detail-wrapper .info-icon-title {
          display: inline-block;
          margin: 0;
          padding-left: 6px;
          font-size: 0.7em; }

@media (max-width: 867px) {
  /* line 41, /Applications/XAMPP/xamppfiles/htdocs/argowebsite/scss/layouts/_blogPage.scss */
  .recent-posts-wrapper {
    display: none; } }

/* line 46, /Applications/XAMPP/xamppfiles/htdocs/argowebsite/scss/layouts/_blogPage.scss */
.content-text {
  width: 90%;
  margin: auto;
  padding: 20px; }

/* line 51, /Applications/XAMPP/xamppfiles/htdocs/argowebsite/scss/layouts/_blogPage.scss */
.sidebar {
  margin-bottom: 10%;
  margin-right: 10%;
  margin-top: 20%; }

/* line 56, /Applications/XAMPP/xamppfiles/htdocs/argowebsite/scss/layouts/_blogPage.scss */
.sidebar p {
  font-size: .9em; }

/* line 59, /Applications/XAMPP/xamppfiles/htdocs/argowebsite/scss/layouts/_blogPage.scss */
.blogpost-main-image img {
  width: 100%;
  object-fit: contain; }

/* line 63, /Applications/XAMPP/xamppfiles/htdocs/argowebsite/scss/layouts/_blogPage.scss */
.column1 svg {
  height: 15px;
  width: 15px; }

/* line 67, /Applications/XAMPP/xamppfiles/htdocs/argowebsite/scss/layouts/_blogPage.scss */
.all-icons p {
  font-size: 0.8em; }

/* line 70, /Applications/XAMPP/xamppfiles/htdocs/argowebsite/scss/layouts/_blogPage.scss */
.sidebar h3 {
  color: #E9563D;
  margin-top: 20px;
  margin-bottom: 20px; }

/* line 75, /Applications/XAMPP/xamppfiles/htdocs/argowebsite/scss/layouts/_blogPage.scss */
.sidebar-blocks {
  margin-top: 60px; }

/* line 78, /Applications/XAMPP/xamppfiles/htdocs/argowebsite/scss/layouts/_blogPage.scss */
.sidebar-blocks h3 {
  margin-bottom: 15px; }

/* line 81, /Applications/XAMPP/xamppfiles/htdocs/argowebsite/scss/layouts/_blogPage.scss */
.sidebar-search-block a {
  text-decoration: !important none;
  color: #fff !important;
  margin: 0 !important; }

/* line 86, /Applications/XAMPP/xamppfiles/htdocs/argowebsite/scss/layouts/_blogPage.scss */
.sidebar a {
  text-decoration: none;
  color: #888888;
  display: block;
  margin-top: 10px; }

/* line 92, /Applications/XAMPP/xamppfiles/htdocs/argowebsite/scss/layouts/_blogPage.scss */
.all-icons:hover {
  background-color: #f2f0f0; }

/* line 95, /Applications/XAMPP/xamppfiles/htdocs/argowebsite/scss/layouts/_blogPage.scss */
.social-media-icons a {
  text-decoration: none; }

/* line 98, /Applications/XAMPP/xamppfiles/htdocs/argowebsite/scss/layouts/_blogPage.scss */
.post-details p {
  font-weight: bold;
  font-size: .9em; }

/* line 102, /Applications/XAMPP/xamppfiles/htdocs/argowebsite/scss/layouts/_blogPage.scss */
.content-text {
  width: 100%; }

/* line 105, /Applications/XAMPP/xamppfiles/htdocs/argowebsite/scss/layouts/_blogPage.scss */
.content-text p {
  font-size: .9em; }

/* line 108, /Applications/XAMPP/xamppfiles/htdocs/argowebsite/scss/layouts/_blogPage.scss */
.footer img {
  display: block;
  margin: 0 auto; }

/* line 112, /Applications/XAMPP/xamppfiles/htdocs/argowebsite/scss/layouts/_blogPage.scss */
.copyright-footer p {
  padding-top: 15px;
  text-align: center;
  font-size: .9em;
  color: #fff; }

/* line 118, /Applications/XAMPP/xamppfiles/htdocs/argowebsite/scss/layouts/_blogPage.scss */
.copyright-footer {
  background-color: #49515B;
  height: 50px; }

/* line 122, /Applications/XAMPP/xamppfiles/htdocs/argowebsite/scss/layouts/_blogPage.scss */
.article-social-icons-wrapper {
  position: sticky;
  top: 10px;
  padding-bottom: 20px; }
  /* line 126, /Applications/XAMPP/xamppfiles/htdocs/argowebsite/scss/layouts/_blogPage.scss */
  .article-social-icons-wrapper svg {
    height: 30px;
    width: 30px;
    margin-top: 10px; }

/* line 135, /Applications/XAMPP/xamppfiles/htdocs/argowebsite/scss/layouts/_blogPage.scss */
.content-text p:first-child:first-letter {
  font-size: 4em;
  line-height: 1em;
  color: #E9563D;
  float: left; }

@media (max-width: 991px) {
  /* line 145, /Applications/XAMPP/xamppfiles/htdocs/argowebsite/scss/layouts/_blogPage.scss */
  .sidebar {
    margin: 0; } }

/* line 1, /Applications/XAMPP/xamppfiles/htdocs/argowebsite/scss/modules/_button.scss */
.mrunali {
  color: red; }

/*# sourceMappingURL=creative.css.map */