#blogs {
    color: #fff;
    background-size: cover;
    padding: 80px 0px 80px;
}
.blog-wrapper {
   margin-top: 15px;
.blog-thumbnail {
    transition: 0.5s all;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.28);
    .image-wrapper {
        overflow: hidden;
        img {
            transition: 1s all;
            width: 100%;
        }
    }
    &:hover {
        box-shadow: 0 0 50px rgba(0, 0, 0, 0.28);
        .image-wrapper {
            img {
                transform: scale(1.1);
            }
        }
        .text-wrapper{
            .text-blog{
                color: $primary;
            }
        }
    }
    .text-wrapper {
        padding-bottom: 33px;
        background-color: white;
        border-bottom: 2px solid $primary;
        .text-blog {
            cursor: pointer;
            padding: 8px;
            font-size: 25px;
            color: black;
            line-height: 1.3em;
            text-align: left;
            font-size: 1.6em;
        }
        .read-more-button {
            margin-right: 20px;
            background-color: $primary;
            color: white;
            font-size: 15px;
            padding: 7px;
            float: right;
            display: inline-block;
            height: 35px;
        }
    }
}
}

.video-thumbnail {
    .image-wrapper {
        &:before {
            content: "";
            top: 22%;
            left: 45%;
            position: absolute;
            background-image: url(/assets/play-icon.png);
            background-size: contain;
            height: 50px;
            width: 50px;
        }
    }
}
