//richRD'S FOOTER
.footer img {
    display: block;
    margin: 0 auto;
}

.copyright-footer p {
    padding-top: 15px;
    text-align: center;
    font-size: .9em;
    color: #fff;
}

.copyright-footer {
    background-color: #49515B;
    height: 30px;
    .copyright-heart {
        color: $primary;
        font-size: 22px;
        padding: 2px;
    }
}

.social-media-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    margin: 0 auto;
    .fb-wrapper {
        padding: 7px;
        display: inline-block;
        cursor: pointer;
        .insta-icon {
            path {
                fill: white !important;
            }
        }
        svg {
            transition: 0.4s all;
            height: 30px;
            width: 30px;
            path {
                fill: $icon !important;
            }
            circle {
                fill: white;
            }
        }
        &:hover {
            svg {
                transform: rotateZ(-35deg) scale(1.1);
            }
        }
    }
}

.footer-links {
    padding-top: 18px;
    text-align: center;
    background-color: #49515B;
    border: none;
    height: 60px;
    display: flex;
    align-items: center;
}
