.landing-page-section {
    background: black;
    background: url(../assets/old-bg.gif);
    background-size: cover;
    background-position: center;
    .landing-overlay {
        background: rgba(41, 179, 159, 0.63);
        height: 100%;
    }
}

.landing-content-wrapper {
    align-items: center;
    margin-top: 150px;
}

.landing-down-arrow-svg {
    width: 40px;
    height: 40px;
    path {
        fill: white;
    }
}
