.social-timeline-div {
    border-right: 2px solid #ccc;
    border-top: 2px solid #ccc;
}

.facebook-timeline-div {
    span {
        &:first-child {
            width: 520px;
        }
        iframe {
            width: 100%;
        }
    }
}
